<h1>Profiles#new</h1>
<p>Find me in app/views/profiles/new.html.erb</p>

<%= simple_form_for @profile, url: profiles_path, method: :post, data: { turbo: :false } do |f| %>

<%= request.location.city %>
<%= f.input :address %>
<%= f.submit 'Search locals', class: 'btn btn-primary btn-block' %>

<% end %>
