// Specific CSS for your home-page
.home-container {
  display: flex;
  flex-direction: row;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 15px;
  flex-grow: 1;
}

.background-home {
  background-image: image-url("partify-home.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // overflow: hidden;
}

.home-logo{
  display: flex;
  justify-content: center;
  padding: 15%;
  background-attachment: fixed;
}

h1 {
  color: rgb(0, 0, 0);
  // text-align: center;
  font-family: 'Rubik';
  // padding-top: 20px;
}

.name-button {
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0 40px;
  background-color: rgba($color: #000000, $alpha: 0.35);
  position: fixed;
  bottom: 2rem;
  h1 {
    color: white;
    font-weight: 300;
  }
}


.img-home {
  width: 200px;
  margin-bottom: 20px;
}
