// Import page-specific CSS files here.
@import "home";

// temporario
.card-event-info {
    background: transparent;
    > h2 {
      padding: 1rem;
      margin-bottom: 0;
      align-self: center;
    }
    margin-bottom: 0;
  }
  
  .stripe-1 {
    color: white;
    background: repeating-linear-gradient(
      135deg,
      #000000,
      #000000 10px,
      #000000 10px,
      #000000 20px
    );
  }

  .stripe-2 {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
  
  #img-temporaria {
      background-image: image-url("partify-home.jpg");
      height: 225px;
      background-size: cover;
      background-position: center;
      margin-top: 0;
    }

h6 {
    margin-bottom: 0;
}

// temporario
