<div class="background-home">
  <div class="container-home">
    <div class="oi">
      <%= image_tag "logo-home.png", class: "img-home" %>
    </div>
    <div class="name-button">
      <h1>We recommend places that you'll love based on what you listen to on Spotify.</h1>

      <div class="spotify">
        <i class="fa-brands fa-spotify" id="logo"></i>
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: {turbo: false}, id: 'spotify' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<div>
