
<div class="events-map"
  data-controller="map user-location"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%# temporario para apresentacao %>
<div class="module">
  <h2 class="stripe-1">Near you...</h2>
</div>
<%# temporario para apresentacao %>
<% if @events %>
  <%= render "no_events" %>
  <%#= render "event_cards", events: @events  %>

<% else %>

  <%= render "no_events" %>
<% end %>
