
<div class="events-map"
  data-controller="map user-location"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-user-marker-value="<%= @user_marker.to_json %>"  >
</div>

<div class="module">
  <h2 class="stripe-1">Near you</h2>
</div>

<%= render "event_cards", events: @events  %>

<%# code below suppressed temporarily %>

<%# if @events.present? %>
  <%#= render "event_cards", events: @events  %>
<%# else %>
  <%#= render "no_events" %>
<%# end %>
