<h1>Warning important!</h1>
<h3>We are not responsible for the user being at events where he should not be. For example, if your husband ends up in a "little hell".</h3>
<h4>If you need "help", ask the Beatles.</h4>
<h6><p>I need somebody</p>
<p>(Help) not just anybody</p>
<p>(Help) you know I need someone, help</p>
<p>So much younger than today</p>
<p>(I never need) I never needed anybody's help in any way</p>
<p>(Now) but now these days are gone (these days are gone)</p>
<p>I'm not so self assured</p>
<p>(And now I find) now I find I've changed my mind</p>
<p>And opened up the doors</p>
<p>Help me if you can, I'm feeling down</p>
<p>And I do appreciate you being 'round</p>
<p>Help me get my feet back on the ground</p>
<p>Won't you please, please help me</p>
<p>In oh so many ways</p>
<p>(My independ-) my independence seems to vanish in the haze</p>
<p>(But) but every now and then (now and then)</p>
<p>I feel so insecure</p>
<p>(I know that I) I know that I just need you like</p>
<p>I've never done before</p>
<p>Help me if you can, I'm feeling down</p>
<p>And I do appreciate you being 'round</p>
<p>Help me get my feet back on the ground</p>
<p>Won't you please, please help me</p>
<p>When I was younger, so much younger than today</p>
<p>I never needed anybody's help in any way</p>
<p>(Now) but now these days are gone (these days are gone)</p>
<p>I'm not so self assured</p>
<p>(And now I find) now I find I've changed my mind</p>
<p>And opened up the doors</p>
<p>Help me if you can, I'm feeling down</p>
<p>And I do appreciate you being 'round</p>
<p>Help me get my feet back on the ground</p>
<p>Won't you please, please help me, help me, help me, ooh</p></h6>
