<div class="container-home" style="height: 100vh;">
  <div id="background-home" style="height: 100vh;">
    <div class="name-button">
      <h1>Partify</h1>
      <p>Connect your Spotify</p>
      <%= button_to "#", class: "btn btn-outline" do %>
        <i class="fab fa-spotify"></i><%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, method: :post %>
      <% end %>

      <div id="text">
        <p class="mt-1">
      </div>
    </div>
  </div>
