<div class="profile-container">
  <div class="user-info">
    <h5>My account</h5>
    <img class="user-image" src="<%= @user.picture_url %>">
    <strong><%= @user.name %></strong>
  </div>

  <div><%= @user.email %></div>
  


</div>
