.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .event-show-image {
    top: 0px;
    height: 100vh;
    width: 400px;
  }
}



.card-description {
  margin: 10px 10px 10px 10px;
}


h1 {
  font-family: Rubik;

}
