.card-trip {
  overflow: hidden;
  background: rgba(185, 185, 185, 0.75);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#event-show-image {
  width: 100%;
}
.spotify {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgb(30, 215, 96);
  width: 200px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;


  #spotify {
    font-family: 'Rubik';
    color: white;
    border: none;
    background: none;
  }

  #logo {
    color: white;
    font-size: 20px;
  }
}

#info-show {
  margin: 10px;
  text-align: center;
}

#description-head {
  text-align: center;
  margin-top: 10px;
}

#description-body {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: justify;
}
