.card-trip {
  overflow: hidden;
  background: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#blacktag {
  background-color: rgb(40, 40, 40);
  font-family: 'Rubik';
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 1px 3px;
  margin: 0.3rem 0;
}
#border-tag {
  background-color: $light-gray;
  font-family: 'Rubik';
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding: 1px 3px;
  margin: 0.3rem 0;
  border: 1px solid rgb(0, 0, 0);
}

#event-show-image {
  width: 100%;
}
.spotify {
  padding: 8px;
  display: flex;
  flex-direction: row;
  background-color: rgb(30, 215, 96);
  width: 200px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;


  #spotify {
    font-family: 'Rubik';
    color: white;
    border: none;
    background: none;
  }

  #logo {
    color: white;
    font-size: 20px;
  }
}

#info-show {
  margin: 25px;
  // text-align: center;
  // padding: 15px;

}

#description-head {
  background-color: $light-gray;
  font-family: 'Rubik';
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding: 0 3px;
  margin: 0.3rem 0;
  border: 1px solid rgb(0, 0, 0);
  // margin-top: 10px;
  // border-bottom: 1px solid rgb(0, 0, 0);
}

#description-body {
  // border: 1px solid rgb(0, 0, 0);
  // border-radius: 10px;
  margin-bottom: 20px;
  // text-align: justify;
}
