.profile-container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  .user-info {
    display:flex;
    flex-direction: column;
    justify-content: center;

  }

  .user-image{
    border-radius: 50%;
  }

}
