h1 {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3 {
  color: rgb(255, 0, 0);
  font-family: solid;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h6 {
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

