.events-map {
  width: 100%;
  height: 250px;

}

.mapboxgl-popup {
  max-width: 50px;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Rubik";
  padding: 16px;
  border-radius: 6px;
  font-size: 12px;
  p {
    margin: 5px;
  }
  strong {
    font-size: 14px;
  }
}
